
@media(max-width:1199px) {
    .header_bottom_left {
        width: 210px
    }

    .logo {
        width: 210px
    }

    .featured_nav li {
        height: 169px;
        width: 47.7%
    }

    .single_featured_slide>h2 a {
        font-size: 20px
    }

    .media-left>img {
        width: 100%;
        height: auto
    }

    .pagincontent {
        width: 82%
    }
}

@media(max-width:991px) {
    .header_bottom_left {
        width: 100%
    }

    .header_bottom_right {
        display: none
    }

    .featured_nav li {
        margin-left: 10px;
        margin-right: 0px;
        height: 208px
    }

    .catgimg_container {
        height: 105px
    }

    .flicker_nav li a {
        height: 60px
    }

    .content_bottom_left {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%
    }

    .media-left>img {
        width: 100%;
        height: 100%
    }

    .pagincontent {
        width: 84%
    }

    .contact_us {
        margin-top: 40px;
        width: 100%
    }

    .our_office {
        width: 100%
    }
    .marquee.desktop-view {
        margin-bottom: 10px;
    }
    #mainContent { 
        padding-top: 0px; 
    }
    .single_category {
        width: 100% !important; 
        margin: 0 !important;
        
    }
}

@media(max-width:767px) {

    .business_category_right{
        margin: 0;
        margin-bottom: 15px;
    }
    .header_top_left {
        width: 60%
    }

    .header_top_right {
        width: 40%
    }

    .search_form input[type="text"] {
        width: 80%
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px
    }

    .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px
    }

    .navbar-nav {
        margin: 7.5px 0
    }

    .custom_nav {
        border: none
    }

    .catgimg_container {
        height: 250px
    }

    .media-heading {
        font-size: 14px
    }

    .flicker_nav li a {
        height: 100px
    }

    .single_footer_top {
        margin-bottom: 20px
    }

    .footer_bottom_left {
        text-align: center
    }

    .footer_bottom_right {
        text-align: center
    }

    .media-left {
        width: 112px;
        height: 112px
    }

    .similar_nav li {
        width: 100%
    }

    .pagincontent {
        width: 87%
    }

    .angle_right {
        width: 13%
    }

    .angle_left {
        width: 13%
    }

    .error_page_content h1 {
        font-size: 170px
    }
    .header_top{
        margin-bottom: 0;
    }
    .marquee { 
        margin-bottom: 10px;
    }
}

@media(max-width:480px) {
    ul.small_catg.verticale-news li { 
        width: 100%; 
        margin: 0;
    }
    h4.title { 
        margin-top: 15px;
    }
    .other-categories ul li {
        margin-bottom: 10px;
    }
    .header_top_left {
        width: 100%
    }

    .top_nav {
        text-align: center
    }

    .header_top_right {
        width: 100%;
        text-align: center;
        margin-bottom: 5px
    }

    .search_form input[type="text"] {
        width: 80%
    }

    .logo {
        width: auto
    }

    .header_bottom_left {
        text-align: center
    }

    .latest_slider {
        padding-left: 0
    }

    .featured_nav li {
        margin-left: 0;
        margin-right: 0;
        width: 100%
    }

    .games_category {
        width: 100%
    }

    .fashion_category {
        width: 100%
    }

    .business_category_left {
        width: 100%
    }

    .business_category_right {
        width: 100%
    }

    .nav>li>a {
        padding: 10px
    }

    .pagincontent>a {
        font-size: 13px
    }

    .single_page_area>h2 {
        font-size: 20px;
        line-height: 30px;
        padding: 10px
    }

    .breadcrumb li a {
        font-size: 12px
    }

    .breadcrumb>.active {
        font-size: 12px
    }

    .error_page_content h1 {
        font-size: 100px
    }

    .header_top { 
        width: 50%; 
    }
    .header_bottom { 
        width: 50%; 
    }
    .left-social ul li a { 
        font-size: 7px;
    }
}

@media(max-width:360px) {
    .catgimg_container {
        height: 150px
    }

    .media-left {
        width: 112px;
        height: 150px
    }

    .flicker_nav li a {
        height: 60px
    }

    .business_category_right .media-left,
    .games_category .media-left,
    .fashion_category .media-left {
        height: 112px
    }

    .pagincontent>a {
        font-size: 10px
    }

    .pagincontent>span {
        font-size: 10px
    }

    .archive_caption h2>a {
        font-size: 18px;
        line-height: 20px
    }

    .error_page_content h1 {
        font-size: 70px
    }

    .error_page_content h2 {
        font-size: 40px
    }

    .error_page_content p {
        font-size: 17px
    }

    .error_page_content h1:after,
    .error_page_content h1:before {
        height: 15px;
        width: 15px
    }

    .error_page_content h1:after {
        right: -30px
    }

    .error_page_content h1:before {
        left: -30px
    }

    .top_nav li a {
        padding: 8px 7px
    }

    .flicker_nav li {
        margin-right: 7px;
        margin-bottom: 7px
    }

    .similar_post h2 {
        font-size: 17px
    }
}